billboard-service/env/
billboard-service/.env

ticket-service/.env
ticket-service/env/

user-service/.env
user-service/env/

product-service/.env
product-service/env/
product-service/logs/

payment-service/.env
payment-service/env/

notification-service/.env
notification-service/env/

product-service/products/__pycache__/
product-service/orders/__pycache__/
product-service/promotions/__pycache__/

.gitignore

admin-service/.env
admin-service/env/


wallet-service/.env
wallet-service/env/
wallet-service/logs/

/.env
.env