
# FastAPI and dependencies
fastapi[standard]
pydantic
pydantic-settings
uvicorn 
# Database and ORM
SQLAlchemy
asyncpg
psycopg2
greenlet
redis[hiredis]

# Testing
pytest
pytest-asyncio

# Log
colorlog

# Rate Limiting
slowapi
python-jose[cryptography] 

# RabbitMQ
aio-pika

# CORS
fastapi-cors

# ASYNC HTTP
aiohttp