fastapi[standard]
uvicorn
aiohttp
protobuf
grpcio>=1.80.0
grpcio-tools>=1.80.0
pydantic
pydantic-settings
email-validator
SQLAlchemy
asyncpg
psycopg2-binary
greenlet
aiosqlite
alembic
fastapi-cache[redis]
redis>=5.0.0
PyJWT
passlib[bcrypt]
python-multipart
slowapi
kafka-python
httpx
colorlog
pytest
pytest-asyncio
