# ---- Web -------
fastapi[standard]
uvicorn

# ---- Validation -------
pydantic
pydantic-settings
email-validator

# ---- Database -------
SQLAlchemy
asyncpg
psycopg2-binary
greenlet
aiosqlite
alembic

# ---- Caching -------
redis[hiredis]

# ---- Security -------
PyJWT
passlib[bcrypt]
python-multipart

# ---- Rate limiting -------
slowapi

# ---- Messaging -------
kafka-python

# ---- Logging -------
colorlog

# ---- 2FA / QR -------
pyotp
qrcode
Pillow

# ---- Testing -------
pytest
pytest-asyncio
