fastapi[standard]
pydantic
SQLAlchemy
asyncpg
greenlet
pytest
pytest-asyncio
aiosqlite
colorlog
slowapi

uvicorn 
python-jose[cryptography] 
passlib[bcrypt] 
python-multipart 
email-validator
redis[hiredis]
pydantic-settings

aio-pika
pika==1.3.2
